***
***
<h1>Multiply by 11</h1>
Given a positive number as a string, multiply the number by 11 and also return it as a string. However, there is a catch:

You are NOT ALLOWED to simply cast the number into an integer!

Now, how is this challenge even possible? Despite this, there is still a way to solve it, and it involves thinking about how someone might multiply by 11 in their head. See the tips below for guidance.

Examples
multiply_by_11("11") ➞ "121"

multiply_by_11("111111111") ➞ "1222222221"

multiply_by_11("9473745364784876253253263723") ➞ "104211199012633638785785900953"
Tip
There is a simple trick to multiplying any two-digit number by 11 in your head:

Add the two digits together
Place the sum between the two digits!
Note if the total goes over, carry the sum on to the next digit
# 23 * 11
# Add together 2 and 3 to make 5
# Place 5 between the two digits to make 253
# 77 * 11
# Add together 7 and 7 to make 14
# Place 4 between the two digits to make 747
# Carry the 1 to make 847
Notes
See this resource to find out how this process can be utilized for numbers of any length!
This challenge was heavily inspired by Mubashir Hassan's challenge on adding two numbers together!

In [50]:
def multiply_by_11(n):
    result, x = "", "0"
    n1 = "".join(("0",n))
    n2 = n + "0"
    for i,j in zip(n1[::-1],n2[::-1]) :
        if int(i) + int(j) + int(x) < 10 :
            result = "".join((str(int(i) + int(j) + int(x)), result))
            x = "0"
        else :
            sum1 = int(i) + int(j) + int(x)
            result = "".join((str(sum1)[-1], result))
            x = f"{sum1 // 10}"
    if x != 0 and x != "0":
        result = "".join((str(x), result))
    return result  


multiply_by_11("86")

'946'

In [3]:
a = input("Please enter a number ....  ")
b = list(a)
k = []
for i in range(len(b)-1) : 
  k.append((int(b[i]) + int(b[i+1])))
k.insert(0,int(b[0]))
k.insert(len(b), int(b[len(b)-1])) 
for i in range(len(k)) :
    if k[i] >= 10 :
     k.insert(i,k[i-1] + k[i] // 10)
     k.pop(i-1)
     k.insert(i+1,k[i] % 10)
     k.pop(i)
print(* k, sep="")

1001

In [ ]:
def multiplier_11(n):
    n = n[::-1]
    new = ""
    bolum = 0
  
    for a, b in zip(n + '0', '0' + n ):      
        bolum, kalan = divmod( int(a) + int(b) + bolum, 10 ) 
        new += str(kalan)
    
    if bolum != 0:
        new += str("1")
        
    return new[::-1]
multiplier_11("91")

***

***
***

In [1]:
def function1(var1=5, var2=7):
    var2=9
    var1=3
    print (var1, " ", var2)
print(function1(10,12))

3   9
None